<h1>The Contingents of ZARA</h1>

<ul>
    <% @groups.each do |group| %>
    <li>
        <%= link_to group.name, group_path(group) %>
    </li>
    <%end%>
</ul>
<%= link_to "humans directory", users_path %>