<h1>The <%= @group.name %> Clan</h1>

<h2>Readiness Score: <%= @score %> </h2>
Members:
<ul>
<%@group.users.each do |member| %> 
<li>
    <%= link_to member.name, user_path(member) %>
</li>
    <%end%>
</ul>